<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HelloWorld Scrapper</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <h1><a href="/">HelloWorld!</a></h1>
            </div>
            <nav>
                <ul>
                    <li><a href="codechef">Codechef</a></li>
                    <li><a href="codeforces">Codeforces</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
    <main>
        <section id="contact" class="contact">
            <div class="container">
                <h2>Enter the Usrname</h2>
                <form action="/codechefprofile" method="post">
                    <input type="text" id="codechefUsername" name="codechefUsername" placeholder="Codechef Username" required>  
                    <button type="submit" class="btn">Get Rank</button>
                </form>
            </div>

            <div class = "container"> 
            {% if profile_data %}
        <table>
            <tr>
                <th>Profile Link</th>
                <td><a href="{{ profile_data['Profile Link'] }}" target="_blank">{{ profile_data['Profile Link'] }}</a></td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ profile_data['Username'] }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ profile_data['Name'] }}</td>
            </tr>
            <tr>
                <th>Rating</th>
                <td>{{ profile_data['Rating'] }}</td>
            </tr>
            <tr>
                <th>Stars</th>
                <td>{{ profile_data['Stars'] }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ profile_data['Country'] }}</td>
            </tr>
            <tr>
                <th>Global Rank</th>
                <td>{{ profile_data['Global Rank'] }}</td>
            </tr>
        </table>
    {% endif %}
</div>
        </section>
    </main>

    <footer>
        <div>
            <p>&copy; 2024 My HelloWorld Scrapper. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>

